@keyframes flash {
    0% {
        background-color: red;
    }
    33% {
        background-color: blue;
    }
    66% {
        background-color: green;
    }
    100% {
        background-color: red;
    }
}